@import "~bootstrap/scss/bootstrap";
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1290px;
  padding: 0px 15px;
}

.main-screen {
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

@media (max-width: 1120px) {
  .main-screen {
    width: 100%;
  }
}
// .ibg {
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
// }

// .ibg img {
//   width: 0;
//   height: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   visibility: hidden;
// }
