h2 {
  @media (max-width: 325px) {
    font-size: 22px;
    line-height: 23px;
  }
}

.block {
  &__step-img img {
    @media (max-width: 1000px) {
      width: 100%;
      height: 100%;
    }
  }
  &__step-info {
    display: flex;
    text-align: start;
    margin-left: 100px;
    margin-top: 36px;
    @media (max-width: 1200px) {
      margin-left: 40px;
    }
    @media (max-width: 1000px) {
      display: flex;
      flex-flow: column nowrap;
    }
  }
}
.testimonials {
  text-align: center;
}

.step-info {
  &__left {
    h4 {
      font-family: Epilogue;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 23px;

      display: flex;
      align-items: center;

      color: #111563;

      flex: none;
    }
    .text__title-step {
      white-space: nowrap;
      @media (max-width: 1000px) {
        white-space: pre-line;
      }
    }
    .text__p-step {
      font-family: Epilogue;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 23px;

      color: #63718e;
      padding-top: 10px;
      @media (max-width: 700px) {
        display: flex;
      }
    }
    .text-green {
      font-weight: bold;

      color: #4cae50;
    }
  }
  &__right {
    margin-left: 108px;
    padding-top: 160px;
    .text-green-span {
      color: #4cae50;
    }
    @media (max-width: 1200px) {
      margin-left: 10px;
    }
    @media (max-width: 1000px) {
      padding-top: 10px;
    }
    @media (max-width: 380px) {
      margin-left: 3px;
    }
  }
}
.testimonials {
  &__block {
  }
}
.text-green {
}
